.box.vertical-info
  .image= image_tag image_url
  .box-bordered
    .title
      = name
      -if defined? badge
        .badge{:class => "badge-#{badge}"}= badge
    .description= description
    .row-fluid
      .span6
        .sub-title Skills
        %ul
          - skills.each do |skill|
            %li= skill
      .span6
        .sub-title Collaborations
        %ul
          - collaborations.each do |collaboration| 
            %li= collaboration
