= render 'shared/hexagons'
.box.yellow-box
  WeCollaborate is
  %br 
  Under Construction
  .sub 
    Sign Up and we will keep you updated.
    
.box-title
  .title 
    What is 
    %br
    WeCollaborate?
  
.box.box-bordered
  .intro
    WeCollaborate is a community of people who help and support ach other in bringing their ideas to life. We are developing an open source online and offline platform in order to stumulate the growth of a collaborative creators community. The system of WeCollaborate aims to makes it easy for professionals and non-professionals of different backgrounds to find and support each other in incubating their ideas and working within their passion.

.box-title
  .title 
    What is 
    %br
    a Creative Jam?
   
.box.box-bordered
  %p The Creative Jams bring the online platform into physical practice. This live forum allows different project Initiators to launch, discuss, and find new interests for their project while other WeCollaborate members (WeCollaborators) can work with their passion and meet new inspiring poeple. The ideas which are pitched are always of a collaborative nature and encourage more people to join the project. During a Jam we provide a working formula which guides 12-30 WeCollaborators through 7 different rounds in order to encourage a culture of sharing and creative collaboration.
   
.box.box-movie
  %iframe{:src => "http://player.vimeo.com/video/66768855?title=0&byline=0&portrait=0", :width => "958", :height =>"538", :frameborder => "0", :webkitAllowFullScreen => 1, :mozallowfullscreen => 1, :allowFullScreen => 1}
  
.main
  .box-title
    .title 
      We Don't 
      %br
      Own your Ideas
  .box.box-bordered
    %p Initiators of projects keep full ownership of their projects. When a project is initiated, and during the course of the project, the people involved can decide how to protect, share and distribute their work. When starting a project the project initiator can choose how they copyright their project. The contribution and participation of all activities on WeCollaborate are protected under the Attribution-NonCommercial-ShareAlike 3.0 Unported creative commons licenses.

.side-bar
  = image_tag 'about/your-ideas.png'
%div{:style => "clear: both;"}

.box-title
  .title 
    We Are 
    %br
    Open Source
.main
  .box.box-bordered
    %p We strive for a culture of open sourced collaboration within the WeCollaborate community, and our system is built upon the same philosophy. Nothing in this world is free and we also need to sustain ourselves.
    %p For those of you who do not earn any money from the projects you initiate or take part in we offer you the use of our services for free, however we do expect you to give some form of non-monetary contribution to WeCollaborate.
    %p If you earn money from a project you initiated or collaborate on we expect a monetary contribution for the use of our services. Anyone can run, read, learn from, modify, and redistribute the formula that makes WeCollaborate tick.

.side-bar
  = image_tag 'about/open-source.png'
%div{:style => "clear: both;"}

.box-title
  .title 
    We Are 
    %br
    Online and Offline
.main
  .box.box-bordered
    %p The online platform serves as an archive of projects and people, where project initiators can find potential collaborators and members can find inspiring projects to become part of. The offline Collaborative Jams bring the online platform into physical pratice. This live forum allows different project initiators to launch, discuss, and find new interests for their project whilie other WeCollaborate members (WeCollaborators) can work with their passion and meet new inspiring people.

.side-bar= image_tag 'about/online-offline.png'
%div{:style => "clear: both;"}

.main
  .box-title
    .title 
      We Are
      %br 
      A Social Enterprise
  .box.box-bordered
    %p Our mission is to help people bring ideas to life. We do this by questioning and confronting the island culture which surrounds us, and offer a culture of sharing as an alternative. We aim to facilitate people so that everyone can easily initiate and participate in projects which are relevant to them.

.side-bar
  = image_tag 'about/social.png'
%div{:style => "clear: both;"}
    