.row
  .span3.side-bar
    .box
      .quote "WeCollaborate is a community of people who help and support each other in bringing their ideas to life."
      .link= link_to "find out more", about_path
    .box.blue-box
      Start a Project
    .box.update-box
      .title Recent Jam Session
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
      .link= link_to "find out more", about_path
    .box.update-box
      .title Tingle Update
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
      .link= link_to "find out more", about_path
    .box.orange-box
      Join a 
      %br
      Jam Session
    .box.blue-box
      Join a Project
    .box.update-box
      .title Jazz Band Update
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
      .link= link_to "find out more", about_path

  .span9.main
    .box.horizontal-info
      .row-fluid
        .span8
          .image= image_tag "dummy/movie.png"
        .span4
          .tag Technology
          .title Tingle
          .author
            by
            %strong Rhys Duindman
          .description
            Tingle is an electronic musical instrument developed by Rhys Duindman. He needs help developing and refining the ...
          .link= link_to "find out more", about_path
    .box.banner
      .title Our community
    .row-fluid
      .span6
        .box.vertical-info
          .image= image_tag "dummy/movie.png"
          .title Tobias Janssen
          .description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ul
          .row-fluid
            .span6
              .sub-title Skills
              %ul
                %li Woodwork
                %li Design
            .span6
              .sub-title Collaborations
              %ul
                %li Drawality
                %li Creation of a strange...
          .link= link_to "find out more", about_path
      .span6
        .box.vertical-info
          .image= image_tag "dummy/movie.png"
          .title Daniel Costa
          .description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ul
          .row-fluid
            .span6
              .sub-title Skills
              %ul
                %li Ceramic
                %li Performance
            .span6
              .sub-title Collaborations
              %ul
                %li Tingle
                %li Drawality
          .link= link_to "find out more", about_path
  .hexagon-red
  .hexagon-blue    