.side-bar
  .box
    .quote "WeCollaborate is a community of people who help and support each other in bringing their ideas to life."
    .link= link_to "find out more", about_path
  .box.blue-box
    Start a Project
  .box.update-box
    .title Recent Jam Session
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
    .link= link_to "find out more", about_path
  .box.update-box
    .title Tingle Update
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
    .link= link_to "find out more", about_path
  .box.orange-box
    Join a 
    %br
    Jam Session
  .box.blue-box
    Join a Project
  .box.update-box
    .title Jazz Band Update
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
    .link= link_to "find out more", about_path

.main
  .box.horizontal-info
    .row-fluid
      .span8
        .image= image_tag "projects/tingle_small.png"
      .span4
        .tag Technology
        .title Tingle
        .author
          by
          %strong Rhys Duindman
        .description
          Tingle is an electronic musical instrument developed by Rhys Duindman. He needs help developing and refining the ...
        .link= link_to "find out more", about_path
  .box.banner
    .title Our community
  .row-fluid
    .span6=render :partial => 'person_box', :locals => {:image_url => "people/tobias.png", :name => "Tobias Janssen", :description => "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ldsdjkfs dsajfsdlkjf lksdjf sda. Ut enim ad minim veniam, quis nostrud exercitation ul", :skills => ["Woodwork", "Design"], :collaborations => ["Drawality", "Creation of a strange.."] } 
    .span6=render :partial => 'person_box', :locals => {:image_url => "people/conor.png", :name => "Conor Trawinski", :badge => "initiator", :description => "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ldsdjkfs dsajfsdlkjf lksdjf sda. Ut enim ad minim veniam, quis nostrud exercitation ul", :skills => ["Woodwork", "Design"], :collaborations => ["Drawality", "Creation of a strange.."] } 

.hexagon-red
.hexagon-blue    