= render 'shared/hexagons'
.side-bar
  .box
    .quote "WeCollaborate is a community of people who help and support each other in bringing their ideas to life."
  .box.red-box{:onclick => "javascript: window.location='/about'"}
    Start a Project
  .box.blue-box{:onclick => "javascript: window.location='/about'"}
    Join a creative jam
  .box.update-box
    .title Recent Creative Jam
    On May 11th 14 people turned up to the Creative Jam in Eindhoven. 3 projects were launched and 5 people will con..
  .box.update-box
    .title Tingle Update
    Thanks for the support last week. As a result Tiddo Bakker and I are developing the a meterial which is suitable to the instru.. 
  .box.blue-box{:onclick => "javascript: window.location='/about'"}
    Find a Project
  .box.update-box
    .title Bike Club Update
    We have reached 20 participants!!! 
    %br
    Thanks for all the inspiration, ideas and contacts. It looks we are on track to.. 

.main
  .box.horizontal-info{:onclick => "javascript: window.location='/about'"}
    .row-fluid
      .span8
        .image= image_tag @project.project_image_url, :id => :project_image
      .span4#project-info
        .tag= @project.categories.map(&:title).join('/')
        .title= @project.title
        .author
          by
          %strong= @project.initiator.fullname
        .description= @project.phrase
        .skills-container
          .row-fluid.skills
            .span6
              .sub-title Skills needed
              %ul
                - @project.skills.each do |skill|
                  %li= skill.title
            .span6
              .sub-title Skills involved
              %ul
                - @project.skills.each do |skill|
                  %li= skill.title
          .phase{:class => "phase-#{@project.phase.color}"}
            = "#{@project.phase.title} Phase"
          .row-fluid.stats
            .span6{:style => "min-height: 0px"}
              .number 69
              days in progress
            .span6{:style => "min-height: 0px"}
              .number 27
              Participants
        :javascript
          $('#project_image').load(function () {            $('#project-info').css('height',$('#project_image').css('height'));
            $('.skills-container').show();
          })
    
        
  .box.banner.uppercase
    .title Our community
  .row-fluid
    .span6
      =render :partial => 'person_box', :locals => {:image_url => "people/conor.png", :name => "Conor Trawinski", :badge => "initiator", :description => "I am the initiator of WeCollaborate and I love to be involved in new and inspiring projects. I want to meet new people...", :skills => ["Photography", "Design"], :collaborations => [ "Tingle", "Drawality"] } 
      =render :partial => 'person_box', :locals => {:image_url => "people/jeroen.jpg", :name => "Jeroen van IJzendoorn", :description => "I am looking for to collaborating and networking in a less formal atmosphere. For me WeCollaborate is about the Creat...", :skills => ["Business", "Marketing"], :collaborations => [ "WeCollaborate", "The Other Market"] } 
    .span6
      =render :partial => 'person_box', :locals => {:image_url => "people/laura.jpg", :name => "Laura Koenen", :description => "I am a student at the Design Academy in Eindhoven and I am interested in working with multi disciplinary teams in the cont..", :skills => ["Design Research", "Graphic Design"], :collaborations => ["Drawality"] } 
      =render :partial => 'person_box', :locals => {:image_url => "people/tomas.jpg", :name => "Tomas Pieters", :badge => "initiator", :description => "I am an artist passionate about working with other people. Recently I initiated drawality so I would have the possibility", :skills => ["Drawing", "Photography"], :collaborations => ["Bike Club", "Drawality"] }
      
  .box.banner.banner-mini{:onclick => "javascript: window.location='/about'"}
    .title Find out more about WeCollaborate
      