= render 'shared/hexagons'
.row-fluid
  .span4
    .box.box-bordered
      .title Join WeCollaborate
      %p We inform you of our progress and we will let you know when you can use the online platform.
      = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
      
        / = devise_error_messages!

        = f.input :fullname, :required => true, :autofocus => true, placeholder: 'Fullname', :label => false
    
        = f.input :email, :required => true, placeholder: 'Email', :label => false
        .sub-text{:style =>  "margin-top:-20px;"} Used for project and account notifications.
        
        = f.input :email_confirmation, :required => true, placeholder: 'Re-enter Email', :label => false
  
        - if @user.password_required? 
          = f.input :password, :required => true , placeholder: 'Password', :label => false
          = f.input :password_confirmation, :required => true, placeholder: 'Re-enter password', :label => false
        
        .row-fluid
          .span1= f.check_box :newsletter, :checked => true 
          .span8= f.label :newsletter, "Keep up to date with our regular newsletter" 
        %div{:style => "clear:both; height: 10px;"}
        .sub-text By signing up you agree to our terms of use and privacy policy.
          
        = f.button :submit, 'Join!', :class => 'btn-wecollaborate'
  .span4  
    .box.box-bordered
      .title Sign Up with Facebook
      %p Its fast and easy.
      = link_to "<button class='btn btn-wecollaborate'>Sign Up with facebook</button>".html_safe, user_omniauth_authorize_path('facebook') 
      .sub-text We'll never post anything without your permission.  
    
  