- (rand(5) + 2).times do
  .hexagon-box.random-box
    = image_tag  'background_shapes/hex-red.png'
- (rand(5) + 2).times do
  .hexagon-box.random-box
    = image_tag  'background_shapes/hex_blue.png'
- (rand(5) + 2).times do
  .hexagon-box.random-box
    = image_tag 'background_shapes/hex_yel.png'

- (rand(3) + 1).times do
  .triangle-box.random-box
    = image_tag 'background_shapes/tri1_blue.png'
- (rand(3) + 1).times do
  .triangle-box.random-box
    = image_tag 'background_shapes/tri1_red.png'
- (rand(3) + 1).times do
  .triangle-box.random-box
    = image_tag 'background_shapes/tri1_yel.png'

- (rand(3) + 1).times do
  .triangle-box.random-box
    = image_tag 'background_shapes/tri2_blue.png'
- (rand(3) + 1).times do
  .triangle-box.random-box
    = image_tag 'background_shapes/tri2_red.png'
- (rand(3) + 1).times do
  .triangle-box.random-box
    = image_tag 'background_shapes/tri2_yel.png'

:javascript
    $(document).ready( function() {
      function randomFromTo(from, to){
        return Math.floor(Math.random() * (to - from + 1) + from);
      }
  
      function placeRandom(obj) {
			
        var cPos = $('#container').offset();

        var d = document,
            g = d.getElementsByTagName('body')[0],
            cWidth = g.clientWidth,
            cHeight = g.clientHeight;
              
  			var bHeight = 20;
  			var bWidth = 20;
        
  			// set maximum position
  			maxY = cHeight - bHeight;
  			maxX = cWidth - bWidth;
  			
  			// set minimum position
  			minY = cPos.top;
  			
  			// set new position			
  			newY = randomFromTo(minY, maxY);
  			newX = randomFromTo(0, maxX);
      
        obj.css({ 
          top: newY,
          left: newX
        });
      }
        
      $('.random-box').each(function() {
        placeRandom($(this)); 
      });

    } );