.hexagons
  - (rand(5) + 2).times do
    .hexagon-red{:style => "top: #{(rand(1400) - 200)}px; left: #{(rand(1400) - 200)}px"}
  - (rand(5) + 2).times do
    .hexagon-blue{:style => "top: #{(rand(1400) - 200)}px; left: #{(rand(1400) - 200)}px"}
  - (rand(5) + 2).times do
    .hexagon-yellow{:style => "top: #{(rand(1400) - 200)}px; left: #{(rand(1400) - 200)}px"}
