= render 'shared/hexagons'
#project_page
  .row-fluid
    .span4
      .box.box-bordered#title
        .title= @project.title
        .initiated
          initiated by
          %strong= @project.initiator.email
  .project-header-row
    .main
      .box
        .image= image_tag @project.project_image_url, :id => 'project_image'
    .side-bar
      .box.box-bordered
        .categories
          .title= @project.categories.map(&:title).join("/")
          project
      .box.box-reward
        .reward{:class => "reward-turquoise"}
          .title Enjoyment
          as reward
      .box.box-phase
        .phase{:class => "phase-#{@project.phase.color}"}
          .title= @project.phase.title
          phase
      .skills-container
        .box.box-bordered
          .skills
            .title Skills needed
        .box.box-bordered
          - @project.skills.each do |skill|
            = skill.title
            %br
  .row-fluid
    .main
      .box.box-bordered
        .title
          "
          = @project.phrase
          "
    .side-bar
      .box.orange-box
        Participate

  .row-fluid
    .main
      .box.box-bordered
        .title
          Project Details
      .box.box-bordered= @project.details.html_safe    
            
:javascript
  $('#project_image').load(function () {
    $('.side-bar').css('height',$('#project_image').css('height'));
  })
    
