%footer.footer
  .row-fluid
    .span12
      logo comes here
  .row-fluid
    .span4
      %ul
        %li= link_to "About Creative Commons Policy",    about_cpp_path
        %li= link_to "Terms and Conditions",             terms_path
    .span4
      %ul
        %li= link_to "Start a Project"
        %li= link_to "Explore"
        %li= link_to "Jam Sessions"
        %li= link_to "Support"
        %li= link_to "About",    about_path
    .span4
      %ul
        %li
          %h2 Keep in touch
        %li conor@wecollaborate.com
          
        %li + 31 6 12 34 56 78
        %li
          %span Twitter-logo
          %span Facebook-logo
  