%footer.footer
  .container
    .row-fluid
      .logo-footer= link_to "", root_path, :style => "height: 100%;width: 100%; display: block;"

    .row-fluid
      .span4
        %ul
          %li= link_to "About Creative Commons Policy",    about_path
          %li= link_to "Terms and Conditions",             about_path
      .span4
        %ul
          %li= link_to "Discover Projects", about_path
          %li= link_to "Our Community", about_path
          %li= link_to "Creative Jams", about_path
          %li= link_to "Support", about_path
          %li= link_to "Start a Project", about_path
      .span4
        %ul
          %li
            .keep-in-touch Keep in touch
          %li wecollaborate.eu@gmail.com
            
          %li
            .row-fluid{:style => "margin-top: 20px;"}
              .span4.twitter-logo= link_to "", root_path, :style => "height: 100%;width: 100%; display: block;"
              .span4.facebook-logo= link_to "", root_path, :style => "height: 100%;width: 100%; display: block;"
    
