%header.navigation-bar
  .container
    .row-fluid{:style => "padding-top: 10px"}
      .logo= link_to "", root_path, :style => "height: 100%;width: 100%; display: block;"
      .beta beta 
          
    .row-fluid{:style => "padding-top: 10px"}
      %ul.span12
        - if @mode == :full
          = active_link_to 'Find Projects'.html_safe, projects_path, :wrap_tag => :li
          = active_link_to 'Our Community'.html_safe, construction_path, :wrap_tag => :li
          = active_link_to 'Creative Jams'.html_safe, construction_path, :wrap_tag => :li
          = active_link_to 'About Us'.html_safe, construction_path, :wrap_tag => :li
          / = active_link_to 'Timeline', timeline_path, :wrap_tag => :li
        - else 
          = active_link_to 'About Us'.html_safe, about_path, :wrap_tag => :li
          = active_link_to 'Blog'.html_safe, '/blog', :wrap_tag => :li
          = active_link_to 'Sign Up'.html_safe, new_visitor_path, :wrap_tag => :li
          = active_link_to 'Start a project'.html_safe, about_path, :wrap_tag => :li
        
              
                  
