%header.navigation-bar
  .container
    .row-fluid{:style => "padding-top: 10px"}
      .logo= link_to "", root_path, :style => "height: 100%;width: 100%; display: block;"
      .pull-right
        - if user_signed_in? 
          = link_to 'Profile', edit_user_registration_path
          |
          = # link_to 'Authentications', authentications_path
          = link_to "Sign out", destroy_user_session_path, :method => :delete, :style => "display: inline" 
        - else 
          = #link_to "login with <span>facebook</span>".html_safe, user_omniauth_authorize_path('facebook') 
          = link_to "Sign in / Sign up", new_user_registration_path, :style => "display: inline"
          = # link_to "Sign in", new_user_session_path , :style => "display: inline"
        
    .row-fluid{:style => "padding-top: 10px"}
      %ul.span12
        = active_link_to 'Find Projects'.html_safe, construction_path, :wrap_tag => :li
        = active_link_to 'Our Community'.html_safe, construction_path, :wrap_tag => :li
        = active_link_to 'Creative Jams'.html_safe, construction_path, :wrap_tag => :li
        = active_link_to 'About Us'.html_safe, construction_path, :wrap_tag => :li
        / = active_link_to 'Timeline', timeline_path, :wrap_tag => :li
              
                  
