%header.navigation-bar
  .container
    .row-fluid
      .pull-right
        - if user_signed_in? 
          = link_to 'Profile', edit_user_registration_path
          |
          = # link_to 'Authentications', authentications_path
          = link_to "Sign out", destroy_user_session_path, :method => :delete, :style => "display: inline" 
        - else 
          = #link_to "login with <span>facebook</span>".html_safe, user_omniauth_authorize_path('facebook') 
          = link_to "Sign in / Sign up", new_user_registration_path, :style => "display: inline"
          = # link_to "Sign in", new_user_session_path , :style => "display: inline"
        
    .row-fluid{:style => "padding-top: 10px"}
      .span4= link_to "<strong>We</strong>Collaborate".html_safe, root_path, :class => "brand"
      %ul.span8
        = active_link_to 'What is<br/>WeCollaborate'.html_safe, about_path, :wrap_tag => :li, :class => "span3"
        = active_link_to 'Find<br/>Projects'.html_safe, about_path, :wrap_tag => :li, :class => "span2"
        = active_link_to 'Our<br/>Community'.html_safe, about_path, :wrap_tag => :li, :class => "span3"
        = active_link_to 'Jam<br/>Sessions'.html_safe, about_path, :wrap_tag => :li, :class => "span2"
        = active_link_to 'Start a<br/>Project'.html_safe, about_path, :wrap_tag => :li, :class => "span2"
        / = active_link_to 'Timeline', timeline_path, :wrap_tag => :li
              
                  
