%header.navbar-wrapper
  .container
    .navbar
      .navbar-inner
        %button.btn.btn-navbar{:type => 'button', :'data-toggle' => 'collapse', :'data-target' => '.nav-collapse'}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to "<strong>We</strong>Collaborate".html_safe, root_path, :class => "brand"
        .nav-collapse.collapse
          %ul.nav
            = active_link_to 'Home', root_path, :wrap_tag => :li
            = active_link_to 'About', about_path, :wrap_tag => :li
            = active_link_to 'Contact', contact_path, :wrap_tag => :li
            = active_link_to 'Timeline', timeline_path, :wrap_tag => :li
            
          .pull-right{:style => "padding: 15px 20px;"}
            - if user_signed_in? 
              = link_to 'Profile', edit_user_registration_path
              |
              = link_to 'Authentications', authentications_path
              |
              = link_to "Sign out", destroy_user_session_path, :method => :delete, :style => "display: inline" 
            - else 
              = link_to "Sign up", new_user_registration_path, :style => "display: inline"
              = link_to "Sign in", new_user_session_path , :style => "display: inline"
              
